body {
  background-color:#F0F0F0;
}


#board {
  height:801px; 
  overflow:visible; 
  padding:0; 
  position:relative;
}

#myCanvas {
	box-shadow: 2px 2px 2px #888888;
}

.configurable {
	position: relative;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	box-shadow: 2px 2px 2px #888888;
}

.box {
	background-color: green;
	text-align: center;
	/*font-family: Asap, Avenir, Arial, sans-serif;*/
	width: 196px;
	min-height: 100px;
	/*line-height: 100px;*/
	color: black;
	position: absolute;
	top:0;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	box-shadow: 2px 2px 2px #888888;
}

.button {
	/*position: absolute;*/
	text-align: center;
	vertical-align: middle;
	line-height: 100px;
	background-color: #E0E0E0;
	height:100px;
	-webkit-transition: color 0.5s, background-color 0.5s;
    -moz-transition:    color 0.5s, background-color 0.5s;
    -ms-transition:     color 0.5s, background-color 0.5s;
    -o-transition:      color 0.5s, background-color 0.5s;
    transition:         color 0.5s, background-color 0.5s;

    -webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;

	margin-top: 10px;
	margin-right: 10px;

	box-shadow: 2px 2px 2px #888888;
}

.button:hover {
	background-color: #333;
	color: #FFF;
}

.button:active {
	background-color: #111;
	color: #FFF;
}

.buttonTop {
	/*position: absolute;*/
	text-align: center;
	vertical-align: middle;
	line-height: 50px;
	background-color: #E0E0E0;
	height:50px;
	-webkit-transition: color 0.5s, background-color 0.5s;
    -moz-transition:    color 0.5s, background-color 0.5s;
    -ms-transition:     color 0.5s, background-color 0.5s;
    -o-transition:      color 0.5s, background-color 0.5s;
    transition:         color 0.5s, background-color 0.5s;

    -webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;

	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 10px;

	box-shadow: 2px 2px 2px #888888;
}

.buttonTop:hover {
	background-color: #333;
	color: #FFF;
}

.buttonTop:active {
	background-color: #111;
	color: #FFF;
}

.btn-primary {
	 background-color: #444;
	border-color: #333;
}

.btn-primary:hover {
	background-color: #3C3C3C;
	border-color: #2F2F2F;
}

.btn-primary:active {
	background-color: #3C3C3C;
	border-color: #2F2F2F;
}

.btn.btn-primary:active {
	background-color: #3C3C3C;
	border-color: #2F2F2F;
}

.btn-primary.active {
	background-color: #333;
	border-color: #222;
}

.btn-primary.active:hover {
	background-color: #2F2F2F;
	border-color: #232323;
}

.btn-primary.active:active {
	background-color: #2F2F2F;
	border-color: #232323;
}

.cursorDisabled {
	cursor: not-allowed;
}